
body {
  background-color: white;
  font-size: medium;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #8FBC8F;
}

a.inactive {
  pointer-events: none;
  display: inline-block; /* bug do IE11 */
  color: #ccc;
}

a {
  pointer-events: auto;
  color: blue;
}

.caixa_num{
  width: 50px;
}

.componente{
  margin: 5px 0 5px 0;
}

div #questao_inicio {
  width: auto;
  padding: 10px;
  margin:1px;
  background-color: #F5DEB3;
}

div #questao_componentes {
  width: auto;
  padding: 10px;
  margin:1px;
  background-color: #FFEFD5;
}

div #resposta {
  width: auto;
  padding: 10px;
  margin:1px;
  background-color: #F5DEB3;
}
