<div>
  <form action="create_a_test" method="post">
    Value: <input type="text" name="widget_value" />
    <br />
    Position: <input type="text" name="widget_position" />
    <br />
    <input type="submit" value="Criar" />
  </form>
</div>
