<% include ../partials/header %>

<h1>Atividades</h1>
<div>
    <% for (var i in data) { %>
      <a href='activities/<%= data[i].id %>'><%= data[i].name%></a><br />
    <% } %>
</div>

<% include ../partials/footer %>
