<% include ../partials/header %>
<div>
    <% for (var i in activities) { %>
      <a href='activities/<%= activities[i].id %>'><%= activities[i].name%></a>
    <% } %>
</div>

<% include ../partials/footer %>
