<% include ../partials/header %>

<div class=container>
  <div class="row">
    <form action="create_a_activity" method="post">

      <div id="questao_inicio" disabled="false">
        <div class="form-group">
          <span>Nome:</span>
          <span><input type="text" name="name" id="name" /></span>
        </div>
        <div class="form-group">
          <span>Descrição:</span>
          <span><input type="text" name="description" id="description" /></span>
        </div>
        <div class="form-group">
          <span>No. Questões:</span>
          <span><input type="text" name="number_questions" id="number_questions" value="1" class="caixa_num" /></span>
        </div>
      </div>

      <div id="questao_componentes" disabled="true">
        <div id="questao">
          <div class="form-group">
            Enunciado: <input type="text" name="enunc1" />
          </div>
          <div class="form-group">
            Componentes: <a id="link_ad_componente" href="javascript:void(0);" class="btn btn-default">+</a>
          </div>
          <div class="form-group">
            <ol id="listaComponentes">
              <li class=componente>
                <select class="tipo" name=tipo id=tipo>
                  <option value="[CC] source">Fonte de tensão CC</option>
                  <option value="[R]esistor">Resistência</option>
                  <option value="[C]apacitor">Capacitância</option>
                </select>
                <a class="link_rem_componente btn btn-default" name="temp" onclick="removeComponente(this);">-</a>
                <div class="detalheComponente">
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <div id="resposta">
        <div class="form-group">
          Respostas
        </div>
        <div class="form-group" id="respostas">
          <div>
            URL da imagem da resposta: <input type="text" name="respostaImg" />
          </div>
          <div>
            Qtde valores lidos: <input type="text" id="respostaQtdLeituras" name="respostaQtdLeituras" class="caixa_num" />
          </div>
          <div id="respostaLeituras"></div>
        </div>
      </div>

      <a href='activities' class="btn btn-default">Voltar</a>
      <a href="" class="btn btn-default" onclick="window.location.reload(true);">Limpar</a>
      <input type="submit" value="Criar" class="btn btn-default" />
    </form>
  </div>
</div>

<% include ../partials/footer %>

<script>
function removeComponente(obj){
  var qtde = $('.componente').size();
  if (qtde>1)
    $(obj).closest('li').remove();
};

function preencheQtde(obj){
  var qtde = $(obj).val();
  if ($(obj).val()<1)
    return;

  var tipo = $(obj).parent().parent().prevAll('.tipo').last().val();

  var q = $(obj).parent().nextAll('.quadroelementos').first();
  q.empty();

  var classe = "";
  var unid = "";
  var sigla = "";
  if (tipo=="[R]esistor"){
    classe = "resist";
    unid = "K ohm";
    sigla = "R";
  }
  else{
    classe = "capac";
    unid = "micro F";
    sigla = "C";
  }

  var txtQtde = "";
  var textComp = "";
  for(var i=0;i<qtde;i++){
    txtQtde = "<div class=valorElemento><span class=componenteRC>" + sigla + (i+1) + "</span>: <input type='text' name='"+ sigla + (i+1) +"' id='"+ sigla + (i+1) +"' class='" + classe + " caixa_num' /> " + unid + "</div>";
    q.append(txtQtde);
  }
}

function preencheDetalhes(obj){
  var tipo = $(obj).val();
  var detalhes = $(obj).nextAll('.detalheComponente').first();
  detalhes.empty();

  if (tipo=="[CC] source"){
    var voltagem = "<span>Voltagem:<input type='text' name=voltagem id=voltagem class='numVolt caixa_num' /> V </span>";
    var freq = "<span>Frequência: <input type='text' name=freq id=freq class='numFreq caixa_num' /> Hz</span>";
    detalhes.append(voltagem);
    detalhes.append(freq);
  }
  else if(tipo=="[R]esistor"){
    var txtQtde = "<span>Qtde: <input type='text' name=qtdeRes id=qtdeRes class='numQtde caixa_num' /></span>";
    var disp = "Disposição: <select name=dispRes id=dispRes class='disposicao'><option value=Paralela>Paralela</option><option value=Serial>Serial</option></select>";
    var quadroQtde = "<div class='quadroelementos'></div>";
    detalhes.append(txtQtde);
    detalhes.append(disp);
    detalhes.append(quadroQtde);
  }
  else{ //"[C]apacitor"
    var txtQtde = "<span>Qtde: <input type='text' name=qtdeCap id=qtdeCap class='numQtde caixa_num' /></span>";
    var disp = "Disposição <select name=dispCap id=dispCap class='disposicao'><option value=Paralela>Paralela</option><option value=Serial>Serial</option></select>";
    var quadroQtde = "<div class='quadroelementos'></div>";
    detalhes.append(txtQtde);
    detalhes.append(disp);
    detalhes.append(quadroQtde);
  }
}

$(document).ready(function() {
  $("#number_questions").attr("disabled", true);
  preencheDetalhes($(".tipo:last"));

  $(document).on('change', '#respostaQtdLeituras', function() {
    var qtde = $(this).val();
    var txtQtde = "";
    var leituras = $("#respostaLeituras");
    leituras.empty();

    if (qtde>0){
      txtQtde = "<ol id=listaLeituras>";
      for(var i=0;i<qtde;i++){
        txtQtde += "<li>Leitura" + (i+1) + "<div class=valorElemento>";
        txtQtde += "<div>Elemento: <input type='text' name=el"+ (i+1) +" id=el"+ (i+1) +" class='elementoSerLido' placeholder='R1, R1 e R2, C1' /></div>";
        txtQtde += "<span>Valor esperado: <input type='text' name=elv"+ (i+1) +" id=elv"+ (i+1) +" class='valorEsperado caixa_num' /></span>";
        txtQtde += "<span>Unidade: <input type='text' name=elu"+ (i+1) +" id=elu"+ (i+1) +" class='unidadeLida' placeholder='V, A' /></span>";
        txtQtde += "</div></li>";
      }
      txtQtde += "</ol>";
      leituras.append(txtQtde);
    }
  });

  //adicionando componente
  $('#link_ad_componente').click(function(){
    var comp = $("#listaComponentes li:last");
    var novo = comp.clone();
    $("#listaComponentes").append(novo);
    preencheDetalhes($(".tipo:last"));
  });

  //alterando tipo de componente
  $(document).on('change', '.tipo', function() {
    preencheDetalhes(this);
  });

  //alterando qtde
  $(document).on('change', '.numQtde', function() {
    preencheQtde(this);
  });

});
</script>
