<% include ../partials/header %>

<div>
  <form action="create_a_activity" method="post">
    Nome: <input type="text" name="name" placeholder="Nome" />
    <br />
    Descrição: <input type="text" name="description" placeholder="Descrição" />
    <br />
    <input type="submit" value="Criar" />
  </form>
</div>

<% include ../partials/footer %>
