<% include ../partials/header %>

<div class=container>
  <div class="row">
    <form action="create_a_activity" method="post">

      <div id="questao_inicio" disabled="false">
        <div class="form-group">
          <span>Nome:</span>
          <span><input type="text" name="name" id="name" /></span>
        </div>
        <div class="form-group">
          <span>Descrição:</span>
          <span><input type="text" name="description" id="description" /></span>
        </div>
        <div class="form-group">
          <span>No. Questões:</span>
          <span><input type="text" name="number_questions" id="number_questions" value="1" class="caixa_num" /></span>
        </div>
        <div class="form-group">
          <a id="link_questions" href="javascript:void(0);">Montar questões</a>
        </div>
      </div>

      <div id="questao_componentes" disabled="true">
        <div id="questao">
          <div class="form-group">
            Enunciado: <input type="text" name="enunc1" />
          </div>
          <div class="form-group">
            Componentes: <a id="link_ad_componente" href="javascript:void(0);" class="btn btn-default">+</a></div>
          </div>
          <div class="form-group">
            <ol id="listaComponentes">
              <li class=componente>
                <select class="tipo">
                  <option value="[CC] source">Fonte de tensão CC</option>
                  <option value="[R]esistor">Resistência</option>
                  <option value="[C]apacitor">Capacitância</option>
                </select>
                <a class="link_rem_componente btn btn-default" name="temp" onclick="removeComponente(this);">-</a>
                <div class="detalheComponente">
                </div>
              </li>
            </ol>
          </div>

          <div class="form-group">
            <a id="link_resposta" href="javascript:void(0);">Enviar resposta</a>
          </div>
        </div>
      </div>

      <a href='activities' class="btn btn-default">Voltar</a> <input type="submit" value="Criar" class="btn btn-default" />
    </form>
  </div>
</div>

<% include ../partials/footer %>

<script>
//removendo componente

function removeComponente(obj){
  var qtde = $('.componente').size();
  if (qtde>1)
    $(obj).closest('li').remove();
};

function preencheQtde(obj){
  // *** trabalhando aqui ***

  var qtde = $(obj).val();
  if ($(obj).val()<1)
    return;

  var tipo = $(obj).parent().parent().prevAll('.tipo').last().val();

  var q = $(obj).parent().nextAll('.quadroelementos').first();
  q.empty();

  var classe = "";
  var unid = "";
  var sigla = "";
  if (tipo=="[R]esistor"){
    classe = "resist";
    unid = "K ohm";
    sigla = "R";
  }
  else{
    classe = "capac";
    unid = "micro F";
    sigla = "C";
  }

  var txtQtde = "";
  var textComp = "";
  for(var i=0;i<qtde;i++){
    txtQtde = "<div class='valorElemento'><span class=componenteRC>" + sigla + (i+1) + "</span>: <input type='text' class='" + classe + " caixa_num' /> " + unid + "</div>";
    q.append(txtQtde);
  }
}

function preencheDetalhes(obj){
  var tipo = $(obj).val();
  var detalhes = $(obj).nextAll('.detalheComponente').first();
  detalhes.empty();

  if (tipo=="[CC] source"){
    var voltagem = "<span>Voltagem:<input type='text' class='numVolt caixa_num' /> V </span>";
    var freq = "<span>Frequência: <input type='text' class='numFreq caixa_num' /> Hz</span>";
    detalhes.append(voltagem);
    detalhes.append(freq);
  }
  else if(tipo=="[R]esistor"){
    var txtQtde = "<span>Qtde: <input type='text' class='numQtde caixa_num' /></span>";
    var disp = "Disposição: <select class='disposicao'><option value=Paralela>Paralela</option><option value=Serial>Serial</option></select>";
    var quadroQtde = "<div class='quadroelementos'></div>";
    //var resist = "<span class='qtde'>Valor: <input type='text' class='resist caixa_num' /> K ohm</span>";
    detalhes.append(txtQtde);
    detalhes.append(disp);
    detalhes.append(quadroQtde);
    //detalhes.append(resist);
  }
  else{ //"[C]apacitor"
    var txtQtde = "<span>Qtde: <input type='text' class='numQtde caixa_num' /></span>";
    var disp = "Disposição <select class='disposicao'><option value=Paralela>Paralela</option><option value=Serial>Serial</option></select>";
    var quadroQtde = "<div class='quadroelementos'></div>";
    //var capac = "<span class='qtde'>Valor: <input type='text' class='capac caixa_num' /> micro F</span>";
    detalhes.append(txtQtde);
    detalhes.append(disp);
    detalhes.append(quadroQtde);
    //detalhes.append(capac);
  }
}

$(document).ready(function() {
  $("#questao_inicio input").attr('disabled',false);
  $("#link_questions").removeClass('inactive');

  $("#questao_componentes input").attr("disabled", true);
  $("#questao_componentes").css("display", "none");

  //clicando no link de montar questoes
  $( "#link_questions" ).click(function() {
    var nome = $("#name").val();
    var qtde = $("#number_questions").val();
    if((qtde>0)&&(!nome.trim()=="")){
      $("#questao_inicio input").attr('disabled',true);
      $("#link_questions").addClass('inactive');

      $("#questao_componentes input").attr("disabled", false);
      $("#questao_componentes").css("display", "block");

      //adiciona novas questoes
      var q1 = $("#questao");
      if (qtde>1){
        for (i = 2; i < qtde; i++) {
          $('#questao').clone().insertAfter("questao");
        }
      }
    }
    preencheDetalhes($(".tipo:last"));
  });

  //adicionando componente
  $('#link_ad_componente').click(function(){
    var comp = $("#listaComponentes li:last");
    var novo = comp.clone();
    $("#listaComponentes").append(novo);
    preencheDetalhes($(".tipo:last"));
  });

  //alterando tipo de componente
  $(document).on('change', '.tipo', function() {
    preencheDetalhes(this);
  });

  //alterando qtde
  $(document).on('change', '.numQtde', function() {
    preencheQtde(this);
  });

});
</script>
