<div>
    <% for (var i in data) { %>
      <a href='test_show/<%= data[i].id %>'><%= data[i] %></a>
      <a href='/test_delete/<%= data[i].id %>'>Excluir</a>
      <br />
    <% } %>
</div>
<br /><%=data%>
